html, body {
    height: 100%;
    margin: 0;
    font-size: 100%
}

@media screen and (max-width: 64em) {
    body {
        font-size: 90%;
    }
}

@media screen and (max-width: 50em) {
    body {
        font-size: 75%;
    }
}

@media screen and (max-width: 30em) {
    body {
        font-size: 50%;
    }
}
.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/Start_Background.png");
    background-size: cover;
    border: none;
    height: 100%;
}

.container{
    width: 45%;
    height: 75%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10%;
    background-image: url("images/MenuVorl.png");
    background-size: cover;
    z-index: 2;
    display: grid;
}
#containerStart{
    grid-template-rows: [title] 30% [name]15% [password] 15% [logIn] 15% [Sign In] 25%;
    grid-template-columns: [left] 10% [center] 1fr [right] 10%;
    grid-auto-flow: column;
    grid-template-areas:
            "left title right"
            "left name right"
            "left password right"
            "left logIn right"
            "left signIn right";
}
.label{
    color: #DDDDC3;
    font-family: p22-muschamp-pro, sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: 400;
}
#title{
    grid-area: title;
    justify-self: center;
    font-size:5em;
}
#name{
    display: flex;
    grid-area: name;
    justify-content: space-between;
}
.input{
    height: 50%;
    width: 50%;
    color: #DDDDC3;
    box-sizing: border-box;
    border: 0;
    border-radius: 10px;
    background: rgba(67, 41, 24, 0.75);
  /*  font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;*/

}
#password{
    display: flex;
    grid-area: password;
    justify-content: space-between;
}

/*Wenn nicht in ID geändert, zentriert*/
.button{
    background-color: rgb(67, 41, 24);
    width: 70%;
    height: 70%;
    border: none;
    border-radius: 30px;
    color: #DDDDC3;
    text-decoration: none;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    font-family: p22-muschamp-pro, sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: 400;
    justify-self: center;
}
#logIn{
    grid-area: logIn;
    justify-self: end;
    width: 20%;
    height: 65%;
}
#signIn{
    grid-area: signIn;
    width: 20%;
    height: 40%;
}

#containerMenu{
    grid-template-rows: [title] 25% [play]15% [profile] 15% [highscore] 15% [options] 15% [LogOut] 15%;
    grid-template-columns: [left] 35% [center] 1fr [right] 35%;
    grid-auto-flow: column;
    grid-template-areas:
            "title title title"
            "left play right"
            "left profile right"
            "left highscore right"
            "left options right"
            "left logOut right";
}

#playBut{
    grid-area: play;
}
#profileBut{
    grid-area: profile;
}
#highscoreBut{
    grid-area: highscore;
}
#optionsBut{
    grid-area: options;
}
#logOutBut{
    grid-area: logOut;
}


