html, body {
    height: 100%;
    margin: 0;
    font-size: 100%;
    overflow: hidden;
}

a{
    display: inline-block;
    margin: 0;
    padding: 0;
}
/*Screen, background of menu */
.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/Background_Start.png");
    background-size: cover;
    background-position: bottom;
    border: none;
    height: 100%;
}

/* container for menus */
.container{
    width: 45%;
    height: 75%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10%;
    background-image: url("img/MenuVorl.png");
    background-size: cover;
    z-index: 2;
    display: grid;
}

/** Headline Flexbox **/
#headline-flex {
    display: flex;
    justify-content: center;
}

#headline-flex h1 {
    margin-right: 15%;
}

/** Grid **/

#containerStart{
    grid-template-rows: [title] 30% [name]15% [password] 15% [message] 8% [logIn] 15% [Sign In] 25%;
    grid-template-columns: [left] 10% [center] 1fr [right] 10%;
    grid-auto-flow: column;
    grid-template-areas:
            "left title right"
            "left name right"
            "left password right"
            "left message right"
            "left logIn right"
            "left signIn right";
}
#containerSignIn{
    grid-template-rows: [title] 30% [email] 10% [messageMail] 5% [name] 10% [messageUser] 5% [password] 10% [messagePassword] 5% [repeatPassword] 10% [messagePasswordRepeat] 5% [signIn] 10%;
    grid-template-columns: [left] 10% [center] 1fr [right] 10%;
    grid-auto-flow: column;
    grid-template-areas:
            "left title right"
            "left email right"
            "left messageMail right"
            "left name right"
            "left messageUser right"
            "left password right"
            "left messagePassword right"
            "left repeatPassword right"
            "left messagePasswordRepeat right"
            "left signIn right";

}
#email{
    display: flex;
    grid-area: email;
    justify-content: space-between;
    align-items: flex-end;
}
#messageMail{
    display: inline;
    grid-area: messageMail;
    font-size: 10px;
    justify-self: end;
}
#messageUser{
    display: inline-block;
    grid-area: messageUser;
    font-size: 10px;
    justify-self: end;
}
#messagePassword{
    display: inline-block;
    grid-area: messagePassword;
    font-size: 10px;
    justify-self: end;
}
#messagePasswordRepeat{
    display: inline-block;
    grid-area: messagePasswordRepeat;
    font-size: 10px;
    justify-self: end;
}
#repeatPassword{
    display: flex;
    grid-area: repeatPassword;
    justify-content: space-between;
    align-items: flex-end;
}
#signInAction{
    display: inline-block;
    grid-area: signIn;
    height: 40px;
    width: 190px;
    align-self: center;
}

#containerMenu{
    margin: 0 auto;
    display: block;
}

.label{
    color: #DDDDC3;
    font-family: catseye, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
}

h1{
    color: #DDDDC3;
    margin: 0;
    padding: 0;
    font-family: p22-muschamp-pro, sans-serif;
    font-style: normal;
    font-size: 5em;
    font-weight: 400;
    text-align: center;
    display: block;
}
h2{
    color: #DDDDC3;
    margin: 0;
    padding: 0;
    font-family: p22-muschamp-pro, sans-serif;
    font-style: normal;
    font-size: 4em;
    font-weight: 400;
}
#title{
    grid-area: title;
    justify-self: center;
}
#name{
    display: flex;
    grid-area: name;
    justify-content: space-between;
}
#name2{
    display: flex;
    grid-area: name;
    justify-content: space-between;
    align-items: flex-end;
}
.input{
    height: 50%;
    width: 50%;
    color: #DDDDC3;
    box-sizing: border-box;
    border: 0;
    border-radius: 10px;
    background: rgba(67, 41, 24, 0.75);
    font-family: catseye, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
}
.input2{
    height: 85%;
    width: 50%;
    color: #DDDDC3;
    box-sizing: border-box;
    border: 0;
    border-radius: 10px;
    background: rgba(67, 41, 24, 0.75);
    font-family: catseye, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
}

#password{
    display: flex;
    grid-area: password;
    justify-content: space-between;
}

#password2{
    display: flex;
    grid-area: password;
    justify-content: space-between;
    align-items: flex-end;
}

#message{
    display: inline-block;
    grid-area: message;
    font-size: 15px;
    justify-self: end;
}

.button{
    background-color: rgba(67, 41, 24, 0);
    height: 40px;
    width: 190px;
    color: #DDDDC3;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: 0px;
    position: relative;
    margin: 10px 0;

    font-family: catseye, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    justify-self: center;
    transition: all ease-in-out 0.6s;
    z-index: 1;
    vertical-align: center;
}
.button:hover{
    color: #333333;
}

.button::before{
    content: '';
    background-image: url("img/buttons_background_neuSkaliert.svg");
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;

    opacity: 1;
    background-size: 190px 40px;
    position: absolute;
    transform: scale(0);
    transition:all ease-in-out 0.2s;
    z-index: -1;
}

.button:hover::before{
    background-position: center;
    background-size: 190px 40px;
    transition:all ease-in-out 0.4s;
    transform: scale(1);

}

.back-btn {
    padding-top: 65px;
    margin-right: 60px;
}

.back-btn a {
    display: inline-block;
    margin-left: 40px;
    width: auto;
    position: relative;
    top: -10px;
    cursor: pointer;
    transition: all ease-in-out .25s;
}

.back-btn a:hover {
    transform: translateX(-15px);
    transition: all ease-in-out .25s;
}

.back-btn a img{
    width: 35px;
}


#profile-table {
    margin-top: 20px;
}

#profile-table label {
    display: block;
    font-family: catseye, sans-serif;
    font-size: 22px;
    color: #fff;
    padding: 10px 0;
    margin-left: 40px;
}

#change-pw {
    display: grid;
    padding-top: 4em;
}


#saveNewPassword {
    width: 222px;
}
#changePasswordDiv,
#changePasswordRepeat {
    padding: 15px 40px;
}



#logIn{
    display: inline-block;
    grid-area: logIn;
    justify-self: end;
    height: 40px;
    width: 190px;

}
#signIn{
    display: inline-block;
    grid-area: signIn;
    height: 40px;
    width: 190px;

}


#alignMenu{
    display: flex;
    height: 80%;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;

}


/** 
Pause Modal
**/
#pause-btn {
    position: absolute;
    right: 30px;
    top: 30px;
}

#pause-modal,
#gameover-modal,
#save-modal {
    display: none;
    position: absolute;
    width: 250px;
    height: 270px;
    left: 50%;
    margin-left:-150px;
    top:20%;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    padding: 20px 50px 50px 50px;
    border-radius: 10px;
}

#gameover-modal,
#save-modal {
    height: 200px;
}

#modal-button {
    padding: 15px 0;
}

#saveMessage{
    font-size: 15px;
}

/** Highscore **/

#score-container {
    display: block;
}

#score-container h2 {
    padding: 10px 40px;
    font-size: 45px;
}

#highscore {
    color: #DDDDC3;
    font-family: p22-muschamp-pro, sans-serif;
    font-size: 35px;
}

#highscore th {
    padding: 0 40px;
}

/** Profile **/
#profile-container {
    display: block;
}


@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}