html, body {
    height: 100%;
    margin: 0;
    font-size: 100%;
    overflow: hidden;
}


.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/Start_Background.png");
    background-size: cover;
    border: none;
    height: 100%;
}

.container{
    width: 45%;
    height: 75%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10%;
    background-image: url("img/MenuVorl.png");
    background-size: cover;
    z-index: 2;
    display: grid;
}
#containerStart{
    grid-template-rows: [title] 30% [name]15% [password] 15% [logIn] 15% [Sign In] 25%;
    grid-template-columns: [left] 10% [center] 1fr [right] 10%;
    grid-auto-flow: column;
    grid-template-areas:
            "left title right"
            "left name right"
            "left password right"
            "left logIn right"
            "left signIn right";
}
.label{
    color: #DDDDC3;
    font-family: catseye, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
}
button{
    border: 0;

}
h1{
    color: #DDDDC3;
    margin: 0;
    padding: 0;
    font-family: p22-muschamp-pro, sans-serif;
    font-style: normal;
    font-size: 5em;
    font-weight: 400;
}
h2{
    color: #DDDDC3;
    margin: 0;
    padding: 0;
    font-family: p22-muschamp-pro, sans-serif;
    font-style: normal;
    font-size: 4em;
    font-weight: 400;
}
#title{
    grid-area: title;
    justify-self: center;

}
#name{
    display: flex;
    grid-area: name;
    justify-content: space-between;
}
.input{
    height: 50%;
    width: 50%;
    color: #DDDDC3;
    box-sizing: border-box;
    border: 0;
    border-radius: 10px;
    background: rgba(67, 41, 24, 0.75);

}
#password{
    display: flex;
    grid-area: password;
    justify-content: space-between;
}

/*Wenn nicht in ID geändert, zentriert*/
.button{
    background-color: rgba(67, 41, 24, 0);
    height: 65px;
    width: 165px;
    color: #DDDDC3;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: 0px;
 /*   border-color: rgba(255,255,255,1);
    border-radius: 30px;*/

    font-family: catseye, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    justify-self: center;
    transition: 0.5s;
}
.button:hover{
    color: #01010A;
    background-image: url("img/button_background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:/* 175px 90px;*/ cover;
}
#logIn{
    grid-area: logIn;
    justify-self: end;
    /*width: 20%;
    height: 65%;*/
}
#signIn{
    grid-area: signIn;
    /*width: 20%;
    height: 40%;*/
}
#containerMenu{
    display: block;
    align-items: center;
}
#containerTest{
    width: 800px;
    margin: 0 auto;
    display: block;
}
#alignMenu{
    margin: 0 auto;
    width: 450px;
}
#listMenu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

}
#listMenu li a{
    display: inline-block;
    height: 40px;
    width: 175px;
/*    padding: 15px;*/
    margin: 20px 0px;
}

@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}